<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- Suite Begin -->
<suite name="DemoSuite">

	<listeners>
		<listener class-name="test.Listeners"></listener>
	</listeners>

	<parameter name="URL" value="www.asd123.com"></parameter>

	<!-- DemoTest1 Begin -->

	<test thread-count="5" name="DemoTest1">
		<classes>
			<class name="test.Day1">
				<methods>
					<include name="Demo"></include>
				</methods>
			</class>
			<class name="test.Day2" />

		</classes>
	</test>
	<!-- DemoTest1 End -->
	<!-- DemoTest2 Begin -->
	<test thread-count="5" name="DemoTest2">
		<classes>
			<class name="test.Day3">
				<methods>
					<exclude name="APILogin"></exclude>
				</methods>
			</class>
			<class name="test.Day4" />
		</classes>
	</test>
	<!-- DemoTest2 End -->
</suite>
<!-- Suite End -->
